@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h3>Mundo Aventura</h3>
	<h5>Prueba Técnica</h5>
	<h5>Rafael Antonio Brand Pachon</h5>
	<br />
	<p class="lead">UI Web en ASP.NET MVC 4.8.</p>
	<p class="lead">APIs REST .NET Core 3.1 Web API.</p>
</div>

